<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>GoGo HealthCares - <%= page %></title>
</head>
<body>

    <%- body %>

    <!-- Footer -->
    <div class="footer text-center white">
        GoGo Health<em>care</em> All Right Deserved || Copyright 2020 || <a href="/contact" class="white">contact</a>
    </div>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="./js/script.js"></script>
</body>
</html>