<link rel="stylesheet" href="./css/style-error.css">

<div class="info">
    <h3>Time: <span id="duration">0</span> s</h3>
    <button id="startButton">Start</button>
    <h2 align="right">Score: <span id="scoreR">0</span></h2>
</div>
<div class="arena"><div class="area"></div><div class="shot"><div class="dot"></div></div></div>

<script src="./js/script-error.js"></script>